@font-face {
    font-family: 'Josefin Sans';
    src: url('https://github.com/notrickjohnston/josefinSans/raw/main/JosefinSans-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('https://github.com/notrickjohnston/josefinSans/raw/main/JosefinSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('https://github.com/notrickjohnston/josefinSans/raw/main/JosefinSans-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('https://github.com/notrickjohnston/josefinSans/raw/main/JosefinSans-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}